################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.suo
*.sqlite
/.vs
/litews/.vs/litews
/litews/litews/bin/Debug/netstandard2.0
/litews/litews/obj
/litews/litewsTest/bin/Debug/netcoreapp3.1
/litews/litewsTest/obj
